{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "PickupPal:BaseUrl": "https://pickuppal-bot-dev.up.railway.app"
  }
}
